doctype html
html
	head
		title Post Detail
		link(rel='stylesheet', type='text/css', href='/css/style.css')
	body.whitebg
		.main
			.container
				// SHOULD BE 80% OF SCREEN WIDTH
				.navigation
					.logo
						a.pacificologo(href='/myprofile') The Avocado Net
					.links
						.menueitem
							a.linkcopy(href='/myprofile') My profile
						.menueitem
							a.linkcopy(href='/addpost') Add post
						.menueitem
							a.linkcopy(href='/allpostings') All postings
						.menueitem
							a.linkcopy(href='/logout') Logout
				// closing navigation
				// SHOULD BE 80% OF SCREEN WIDTH, CENTERED
				.intro Posted by #{username} on #{date}
				.postbox.gradientbg
					.postinner.postdetail #{postingcontent}
				// closing body div
				.writecomment.comments
					div Got anything to add?
					form.linebreak(action=`/comment/${postId}`, method='POST', autocomplete='off' id='form')
						textarea.addcomment(name='comment')
						input.button(type='submit')
				.comments
					div.line Comments
					.onecomment
					each hit in comments
						.comment #{hit.comment}
						p
						p=commentusername
						.author posted by user #{hit.userId} on #{hit.createdAt}
				